* {
  padding: 0;
  margin: 0;
}

.site-header {
  background: #272882;
  color: #fff;
  padding: 10px;
}

.container {
  max-width: 500px;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.todo-item {
  list-style-type: none;
  padding: 8px 10px;
  border: 1px solid #ddd;
}

.todo-item input {
  margin-right: 8px;
}

.completed {
  text-decoration: line-through;
  color: green;
  font-style: italic;
}

.btn {
  float: right;
  border-radius: 50%;
  padding: 4px 10px;
  background-color: red;
  color: #fff;
  border: 1px solid red;
}